In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Laboratorio 1: Análisis de datos de ventas de carros BMW
Este dataset contiene registros de ventas de automóviles de la marca BMW, con información relevante sobre las características del vehículo, condiciones de venta y datos numéricos que permiten realizar tareas de análisis exploratorio, limpieza y transformación de datos.

**Descripción general**

El dataset contiene 50.000 registros de vehículos, y cada fila representa una observación correspondiente a un automóvil individual.

| Variable               | Descripción                                                                            |
| ---------------------- | -------------------------------------------------------------------------------------- |
| `Model`                | Modelo del vehículo (por ejemplo, "5 Series", "X1").                                   |
| `Year`                 | Año de fabricación del vehículo.                                                       |
| `Region`               | Región donde fue realizada la venta (por ejemplo, Asia, Europe, etc.).              |
| `Color`                | Color del vehículo.                                                                    |
| `Fuel_Type`            | Tipo de combustible (Petrol, Diesel, Electric, Hybrid).                                |
| `Transmission`         | Tipo de transmisión (Manual o Automatic).                                              |
| `Engine_Size_L`        | Tamaño del motor en litros.                                                            |
| `Mileage_KM`           | Kilometraje del vehículo en kilómetros.                                                |
| `Price_USD`            | Precio de venta del vehículo en dólares estadounidenses.                               |
| `Sales_Volume`         | Cantidad de unidades vendidas del modelo en esa configuración.                         |
| `Sales_Classification` | Clasificación de ventas (por ejemplo: High, Medium, Low). |

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/catalinanaranjoromero/dataset/refs/heads/main/BMW_Car_Sales_Classification.csv')
df.head(1)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High

**1. ¿Cuál es el precio promedio de los vehículos por tipo de combustible y transmisión? (1 punto)**

Entregar la respuesta en un formato en el que se vea el precio promedio para cada una de las combinaciones enunciadas.

**2. ¿Cuál es el modelo con el mayor número de registros en el dataset? (1 punto)**

Entregar la respuesta como cadena de texto

**3. ¿Qué vehículos tienen más de 50.000 kilómetros, son modelo 2020 (incluido) hacia arriba y un precio menor a USD 30.050? (1.5 puntos)**

Entregar la respuesta en un dataframe que contiene las columnas Model, Year y Color para los vehículos que cumplen con las condiciones mencionadas.

**4. Considerando los vehículos automáticos solamente, ¿cuál es el precio mínimo por cada año de fabricación? (1 punto)**

Entregar la respuesta en algún formato en el que se vea por cada año contenido en el dataset el valor solicitado.

**5. ¿Cuántos vehículos de los modelos 'X5', 'X3', o '1 Series' fueron fabricados entre 2015 y 2018? (2 puntos)**

El resultado debe ser un número entero.

**6.** A continuación se construye un DataFrame llamado *data_discounts*, que contiene información sobre los descuentos aplicados a diferentes modelos de carro en ciertos años y regiones. Con base en este DataFrame y en el DataFrame principal df, crear un nuevo DataFrame llamado **merge_df** realizando un merge a partir de las llaves en común presentes en ambas tablas.

**Asegúrense de utilizar una modalidad de unión que conserve toda la información disponible en data_discounts, y no realicen cambios en los nombres de las columnas. (2 puntos)**

In [252]:
data_discounts = [
    {"Model_Car": "X1", "year": 2019, "Region": "Europe", "Avg_Discount_Pct": 4.8},
    {"Model_Car": "X3", "year": 2020, "Region": "North America", "Avg_Discount_Pct": 5.1},
    {"Model_Car": "X5", "year": 2021, "Region": "Asia", "Avg_Discount_Pct": 4.6},
    {"Model_Car": "3 Series", "year": 2022, "Region": "North America", "Avg_Discount_Pct": 4.9},
    {"Model_Car": "5 Series", "year": 2023, "Region": "North America", "Avg_Discount_Pct": 5.0},
    {"Model_Car": "7 Series", "year": 2023, "Region": "Asia", "Avg_Discount_Pct": 4.7},
    {"Model_Car": "X6", "year": 2020, "Region": "Europe", "Avg_Discount_Pct": 4.5},
    {"Model_Car": "i3", "year": 2019, "Region": "North America", "Avg_Discount_Pct": 5.2},
    {"Model_Car": "i8", "year": 2021, "Region": "Asia", "Avg_Discount_Pct": 4.4},
    {"Model_Car": "X7", "year": 2022, "Region": "Europe", "Avg_Discount_Pct": 4.9},
    {"Model_Car": "Z4", "year": 2020, "Region": "North America", "Avg_Discount_Pct": 5.3},
    {"Model_Car": "M3", "year": 2021, "Region": "Europe", "Avg_Discount_Pct": 4.8},
    {"Model_Car": "M5", "year": 2023, "Region": "Asia", "Avg_Discount_Pct": 5.1},
    {"Model_Car": "X2", "year": 2019, "Region": "North America", "Avg_Discount_Pct": 4.7},
    {"Model_Car": "X4", "year": 2022, "Region": "Asia", "Avg_Discount_Pct": 5.0},
    {"Model_Car": "X8", "year": 2023, "Region": "Europe", "Avg_Discount_Pct": 4.6},
    {"Model_Car": "i4", "year": 2022, "Region": "North America", "Avg_Discount_Pct": 5.2},
    {"Model_Car": "iX", "year": 2023, "Region": "Asia", "Avg_Discount_Pct": 4.8},
    {"Model_Car": "X1", "year": 2021, "Region": "North America", "Avg_Discount_Pct": 5.0},
    {"Model_Car": "5 Series", "year": 2022, "Region": "Europe", "Avg_Discount_Pct": 4.9},
]

data_discounts = pd.DataFrame(data_discounts)
data_discounts.head(1)

  Model_Car  year  Region  Avg_Discount_Pct
0        X1  2019  Europe               4.8

**7. A partir del nuevo dataset (merge_df), calcular dos nuevas columnas llamadas Gross_Revenue y Net_Revenue en billones de dólares, definidas como:**




$$
Gross\_Revenue = \frac{Sales\_Volume \times Price\_USD}{1{,}000{,}000{,}000}
$$

$$
Net\_Revenue = Gross\_Revenue \times \left(1 - \frac{Avg\_Discount\_Pct}{100}\right)
$$

**8. A partir del DataFrame que ya contiene las columnas Gross_Revenue y Net_Revenue, calcula para cada tipo de carro el total de ventas brutas y el total de ventas netas. Presenta los resultados en una sola tabla que muestre estos valores consolidados para cada modelo.**

### Bono:

El CEO de BMW quiere entender las ventas netas anuales en la región de North America. Un analista de datos preparó el siguiente código que, en teoría, prepara los datos y grafica un bar chart vertical, y supuestamente hace uso de las mejores prácticas en codificaciones visuales y de creación de gráficos limpios, las cuales se han visto en la clase de Ciencia de Datos.

La tarea es detectar y explicar los errores conceptuales o de código que impiden que la visualización cumpla con lo solicitado y describir cómo se deben corregir. 

**(Puntos posibles: 4)**


```python
ventas_noram = merge_df.loc[merge_df.Region=='North America'].groupby('Year').agg(ventas_brutas = ('Gross_Revenue','sum'), 
                                                                ventas_netas=('Net_Revenue','sum')).reset_index()

paleta_colores = ['#F52795','#634663','#18A377','#A35B18','#18A3A3']

fig, ax = plt.subplots(figsize=(8,4))
sns.barplot(data=merge_df, x='ventas_netas', y='Year', hue='Year', palette=paleta_colores)
ax.set_xlabel('Año')
ax.set_ylabel('Ventas netas (USD B)')
ax.bar_label(ax.containers[0], fmt='%.2f', label_type='center')
ax.set_title('Ventas netas por año en América del Norte')
plt.show()
```